// Variables

$primary-color: #272727;
$secondary-color: #ff652f;
$tex-color: #eee;

//font

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

//image
$main-bgImage-path: "../img/model-1.jpg";
